<form *ngIf="department" [formGroup]="form" (ngSubmit)="submitForm()">
  <h2 [textContent]="department.name"></h2>

  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'DEPARTMENT.FORM.NAME' | translate"></mat-label>
        <input matInput [placeholder]="'DEPARTMENT.FORM.NAME' | translate" [formControlName]="formNames.NAME" />
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'DEPARTMENT.FORM.DESCRIPTION' | translate"></mat-label>
        <textarea
          matInput
          rows="8"
          [formControlName]="formNames.DESCRIPTION"
          [placeholder]="'DEPARTMENT.FORM.DESCRIPTION' | translate"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button mat-raised-button color="primary" type="submit">
      <mat-icon matPrefix class="mr10">edit</mat-icon>
      {{ 'DEPARTMENT.FORM.UPDATE_DATA' | translate }}
    </button>
  </div>
</form>
