<mat-card class="employee-card" *ngIf="employee">
  <div class="card-header">
    <div class="card-header-info">
      <h2 class="employee-name">{{ employee.firstName }} {{ employee.lastName }}</h2>
      <div class="employee-title">{{ employee.title }}</div>
    </div>

    <div class="actions">
      <button
        mat-mini-fab
        color="primary"
        class="action-btn"
        [matTooltip]="'EMPLOYEES.LIST.CARD.EDIT_PROFILE' | translate"
        (click)="editProfile(employee)"
      >
        <mat-icon>edit_note</mat-icon>
      </button>

      <button
        mat-mini-fab
        color="primary"
        class="action-btn"
        [matTooltip]="'EMPLOYEES.LIST.CARD.DELETE_PROFILE' | translate"
        (click)="removed.emit(employee)"
      >
        <mat-icon>delete</mat-icon>
      </button>

      <button
        mat-mini-fab
        color="primary"
        class="action-btn"
        [matTooltip]="(!showEmployeeInfo ? 'EMPLOYEES.LIST.CARD.SEE_MORE' : 'EMPLOYEES.LIST.CARD.SEE_LESS') | translate"
        (click)="toggleEmployeeCard()"
      >
        <mat-icon [@rotateIcon]="showEmployeeInfo">arrow_downward</mat-icon>
      </button>
    </div>
  </div>

  <div class="card-info" [@togglePanel]="showEmployeeInfo">
    <div class="row mt20 g-3">
      <div class="col-12 col-sm-6">
        <h4 class="info-label">Prénom</h4>
        <div class="info-value" [textContent]="employee.firstName"></div>
      </div>

      <div class="col-12 col-sm-6">
        <h4 class="info-label">Nom de famille</h4>
        <div class="info-value" [textContent]="employee.lastName"></div>
      </div>

      <div class="col-12 col-sm-6">
        <h4 class="info-label">Email</h4>
        <div class="info-value" [textContent]="employee.email"></div>
      </div>

      <div class="col-12 col-sm-6">
        <h4 class="info-label">Title</h4>
        <div class="info-value" [textContent]="employee.title"></div>
      </div>

      <div class="col-12 col-sm-6">
        <h4 class="info-label">Salaire</h4>
        <div class="info-value" [textContent]="employee.salary"></div>
      </div>

      <div class="col-12 col-sm-6">
        <h4 class="info-label">Adresse</h4>
        <div class="info-value" [textContent]="employee.address"></div>
      </div>

      <div class="col-12 col-sm-6">
        <h4 class="info-label">Ville</h4>
        <div class="info-value" [textContent]="employee.city"></div>
      </div>
    </div>
  </div>
</mat-card>
