.employee-card {
  width: 100%;
  min-width: 800px;
  max-width: 800px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card-header-info {
      .employee-name {
        font-weight: 500;
        margin-bottom: 0;
      }

      .employee-title {
        margin: 0;
        font-weight: bold;
        color: #607d8b;
      }
    }

    .actions {
      display: flex;
      gap: 10px;

      .action-btn {
        background-color: #607d8b;
      }
    }
  }

  .card-info {
    overflow: hidden;

    .info-label {
      margin-bottom: 0px;
      color: #607d8b;
      font-weight: bold;
    }
  }
}
