<form *ngIf="form" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="updateEmployee()">
  <h1 class="mb50">{{ employee?.firstName }} {{ employee?.lastName }}</h1>

  <div class="row">
    <div class="col-12 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'EMPLOYEES.FORM.FIRSTNAME' | translate"></mat-label>
        <input
          matInput
          readonly
          required
          [placeholder]="'EMPLOYEES.FORM.FIRSTNAME' | translate"
          [formControlName]="formNames.FIRSTNAME"
        />
        <mat-icon matPrefix>account_circle</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'EMPLOYEES.FORM.LASTNAME' | translate"></mat-label>
        <input
          matInput
          readonly
          required
          [placeholder]="'EMPLOYEES.FORM.LASTNAME' | translate"
          [formControlName]="formNames.LASTNAME"
        />
        <mat-icon matPrefix>account_circle</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'EMPLOYEES.FORM.EMAIL' | translate"></mat-label>
        <input
          type="email"
          readonly
          matInput
          required
          [placeholder]="'EMPLOYEES.FORM.EMAIL' | translate"
          [formControlName]="formNames.EMAIL"
        />
        <mat-icon matPrefix>mail</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'EMPLOYEES.FORM.TITLE' | translate"></mat-label>
        <input matInput required [placeholder]="'EMPLOYEES.FORM.TITLE' | translate" [formControlName]="formNames.TITLE" />
        <mat-icon matPrefix>star</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'EMPLOYEES.FORM.SALARY' | translate"></mat-label>
        <input type="number" matInput [placeholder]="'EMPLOYEES.FORM.SALARY' | translate" [formControlName]="formNames.SALARY" />
        <mat-icon matPrefix>euro</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'EMPLOYEES.FORM.ADDRESS' | translate"></mat-label>
        <input matInput [placeholder]="'EMPLOYEES.FORM.ADDRESS' | translate" [formControlName]="formNames.ADDRESS" />
        <mat-icon matPrefix>location_on</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'EMPLOYEES.FORM.CITY' | translate"></mat-label>
        <input matInput [placeholder]="'EMPLOYEES.FORM.CITY' | translate" [formControlName]="formNames.CITY" />
        <mat-icon matPrefix>location_city</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button mat-raised-button color="primary" type="submit">
      <mat-icon matPrefix class="mr10">edit</mat-icon>
      {{ 'COMPANY.UPDATE' | translate }}
    </button>
  </div>
</form>
