<div class="container-fluid">
  <h1 [textContent]="'DEPARTMENT.TITLE' | translate: { name: department?.name! }"></h1>

  <div class="department-container">
    <div class="department-form">
      <app-department-employee-form
        [department]="department"
        (updated)="departmentUpdated.emit($event)"
      ></app-department-employee-form>
    </div>

    <div class="department-employees-list">
      <h2 [textContent]="'EMPLOYEES.DESPARTMENT_LIST.TITLE' | translate"></h2>

      <div class="employees-list">
        <div class="d-flex justify-content-end mb20">
          <button mat-raised-button color="accent" type="submit" (click)="openModal()">
            <mat-icon matPrefix class="mr10">add</mat-icon>
            {{ 'EMPLOYEES.DESPARTMENT_LIST.ADD_NEW' | translate }}
          </button>
        </div>

        <app-department-employees-list
          [department]="department"
          [departmentEmployees]="departmentEmployees"
          [noDepartmentEmployees]="noDepartmentEmployees"
          (updated)="employeeUpdated.emit($event)"
          (departmentUpdated)="departmentUpdated.emit($event)"
        ></app-department-employees-list>
      </div>
    </div>
  </div>
</div>

<app-modal #modal [title]="'Ajouter un nouvel employé' | translate" [form]="form">
  <div part="body">
    <form *ngIf="form" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="addNewEmployee()">
      <div class="row">
        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.FIRSTNAME' | translate"></mat-label>
            <input
              matInput
              required
              [placeholder]="'EMPLOYEES.FORM.FIRSTNAME' | translate"
              [formControlName]="formNames.FIRSTNAME"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.LASTNAME' | translate"></mat-label>
            <input
              matInput
              required
              [placeholder]="'EMPLOYEES.FORM.LASTNAME' | translate"
              [formControlName]="formNames.LASTNAME"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.EMAIL' | translate"></mat-label>
            <input
              type="email"
              matInput
              required
              [placeholder]="'EMPLOYEES.FORM.EMAIL' | translate"
              [formControlName]="formNames.EMAIL"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.TITLE' | translate"></mat-label>
            <input matInput required [placeholder]="'EMPLOYEES.FORM.TITLE' | translate" [formControlName]="formNames.TITLE" />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.SALARY' | translate"></mat-label>
            <input
              type="number"
              matInput
              [placeholder]="'EMPLOYEES.FORM.SALARY' | translate"
              [formControlName]="formNames.SALARY"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.ADDRESS' | translate"></mat-label>
            <input matInput [placeholder]="'EMPLOYEES.FORM.ADDRESS' | translate" [formControlName]="formNames.ADDRESS" />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.CITY' | translate"></mat-label>
            <input matInput [placeholder]="'EMPLOYEES.FORM.CITY' | translate" [formControlName]="formNames.CITY" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div part="footer" class="w-100 d-flex justify-content-between">
    <button
      mat-flat-button
      type="button"
      [textContent]="'EMPLOYEES.FORM.ACTIONS.CANCEL' | translate"
      (click)="modal.close('cancel')"
    ></button>

    <button
      mat-flat-button
      type="submit"
      color="primary"
      [textContent]="'EMPLOYEES.FORM.ACTIONS.VALIDATE' | translate"
      (click)="addNewEmployee()"
    ></button>
  </div>
</app-modal>
