.department-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .department-form {
    width: 100%;
    padding: 20px;
    background: #f3f3f3;
    border-radius: 5px;
  }

  .department-employees-list {
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    padding: 20px;
    background: #f3f3f3;
    border-radius: 5px;
    height: fit-content;
  }
}
