<ng-template #modalTemplate>
  <form [formGroup]="form" (ngSubmit)="onFormSubmitted()">
    <div class="header">
      <div class="content">
        <h4 mat-dialog-title *ngIf="title" class="title" [textContent]="title | translate"></h4>
        <ng-content select="div[part=header]"></ng-content>
      </div>

      <button mat-icon-button type="button" class="close-btn md ml20" (click)="close('CLOSE BTN')">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>

    <div mat-dialog-content class="body pb30">
      <ng-content select="div[part=body]"></ng-content>
    </div>

    <div mat-dialog-actions class="footer w-100" *ngIf="hasActions">
      <ng-content select="div[part=footer]"></ng-content>
    </div>
  </form>
</ng-template>
