@import '../../../../scss/variables.scss';

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  .content {
    .title {
      margin: 0;
      width: inherit;
      color: $black;
      font-size: 25px;
      font-weight: 600;

      font-size: 25px !important;
      font-weight: 500 !important;
      -webkit-font-smoothing: antialiased !important;
      margin: 0 !important;
    }
  }
}

.body,
.footer {
  font-size: 14px;
}

::ng-deep {
  .cdk-overlay-pane {
    max-width: 95vw !important;

    &.xs {
      width: 480px;

      @media screen and (max-width: 520px) {
        width: 95vw !important;
      }
    }

    &.sm {
      width: 600px;

      @media screen and (max-width: 640px) {
        width: 95vw !important;
      }
    }

    &.md {
      width: 900px;

      @media screen and (max-width: 940px) {
        width: 95vw !important;
      }
    }

    &.lg {
      width: 1100px;

      @media screen and (max-width: 1140px) {
        width: 95vw !important;
      }
    }

    &.xl {
      width: 80vw;

      @media screen and (max-width: 1200px) {
        width: 95vw !important;
      }
    }
  }
}
