@import '../../../../../scss/variables.scss';

$form-width: 450px;
$form-padding: 30px;

.authentication {
  height: 100%;
  display: flex;
  flex-direction: row;

  .greetings-panel,
  .form-panel {
    height: inherit;
  }

  .greetings-panel {
    width: calc(100% - $form-width);
    background: lightslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 0 20px;

    h1 {
      font-size: 48px;
      line-height: 54px;
      text-align: center;
    }
  }

  .form-panel {
    width: calc($form-width);

    .form-container {
      padding: $form-padding;
    }
  }
}