<div class="authentication">
  <div class="greetings-panel">
    <h1 class="title" [textContent]="'APP.TITLE' | translate"></h1>
  </div>
  <div class="form-panel">
    <div class="form-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
