// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//   background-color: white;
//   border-radius: 5px;
// }

// ::ng-deep .mat-form-field-prefix {
//   margin-right: 5px;
// }

.company-container {
  padding: 20px;
  background: #f3f3f3;
  border-radius: 5px;
}
