<div class="container-fluid">
  <div class="company-container" *ngIf="company && form">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <h1 [textContent]="company.name"></h1>

      <div class="row">
        <div class="col-12 col-sm-4 col-md-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'COMPANY.TITLE.LABEL' | translate"></mat-label>
            <input matInput readonly [placeholder]="'COMPANY.TITLE.PLACEHOLDER' | translate" [formControlName]="formNames.NAME" />
            <mat-icon matPrefix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-4 col-md-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'COMPANY.EMAIL.LABEL' | translate"></mat-label>
            <input
              matInput
              readonly
              [formControlName]="formNames.EMAIL"
              [placeholder]="'COMPANY.EMAIL.PLACEHOLDER' | translate"
            />
            <mat-icon matPrefix>mail</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-4 col-md-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'COMPANY.ADDRESS.LABEL' | translate"></mat-label>
            <input matInput [placeholder]="'COMPANY.ADDRESS.PLACEHOLDER' | translate" [formControlName]="formNames.ADDRESS" />
            <mat-icon matPrefix>location_on</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-4 col-md-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'COMPANY.CITY.LABEL' | translate"></mat-label>
            <input matInput [placeholder]="'COMPANY.CITY.PLACEHOLDER' | translate" [formControlName]="formNames.CITY" />
            <mat-icon matPrefix>location_city</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-4 col-md-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'COMPANY.BUSINESS_SECTOR.LABEL' | translate"></mat-label>
            <input
              matInput
              [placeholder]="'COMPANY.BUSINESS_SECTOR.PLACEHOLDER' | translate"
              [formControlName]="formNames.BUSINESS_SECTOR"
            />
            <mat-icon matPrefix>business_center</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon matPrefix class="mr10">edit</mat-icon>
          {{ 'COMPANY.UPDATE' | translate }}
        </button>
      </div>
    </form>
  </div>

  <div class="departments-list-container">
    <app-departments-list-container [company]="company"></app-departments-list-container>
  </div>
</div>
