<div class="form-header">
  <h2 [textContent]="'REGISTER.TITLE' | translate"></h2>
  <p>
    <span [textContent]="'REGISTER.LOGIN' | translate"></span>
    <strong class="pointer" [routerLink]="['/auth/login']" [textContent]="'REGISTER.HERE' | translate"></strong>
  </p>
</div>

<form [formGroup]="form" class="mb20" (ngSubmit)="submitForm()">
  <!-- +++++ USERNAME FORM FIELD +++++ -->
  <mat-form-field appearance="outline" class="mb10">
    <mat-label [textContent]="'REGISTER.FORM.NAME.NAME' | translate"></mat-label>
    <input matInput type="text" [formControlName]="controlNames.USERNAME" [placeholder]="'REGISTER.FORM.NAME.NAME' | translate" />
    <mat-error *ngIf="userNameCtrl?.invalid && (userNameCtrl?.dirty || userNameCtrl?.touched)">
      <div *ngIf="userNameCtrl?.hasError('required')" [innerHTML]="'REGISTER.ERRORS.USERNAME_REQUIRED' | translate"></div>
    </mat-error>
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>

  <!-- EMAIL FORM FIELD -->
  <mat-form-field appearance="outline" class="mb10">
    <mat-label [textContent]="'REGISTER.FORM.EMAIL.NAME' | translate"></mat-label>
    <input
      matInput
      type="email"
      [formControlName]="controlNames.EMAIL"
      [textContent]="'REGISTER.FORM.EMAIL.PLACEHOLDER' | translate"
    />
    <mat-error *ngIf="emailCtrl?.invalid && (emailCtrl?.dirty || emailCtrl?.touched)">
      <div
        *ngIf="emailCtrl?.hasError('email') && !emailCtrl?.hasError('required')"
        [innerHTML]="'REGISTER.ERRORS.VALID_EMAIL' | translate"
      ></div>
      <div *ngIf="emailCtrl?.hasError('required')" [innerHTML]="'REGISTER.ERRORS.EMAIL_REQUIRED' | translate"></div>
    </mat-error>

    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <br />

  <!-- PASSWORD FORM FIELD -->
  <mat-form-field appearance="outline" class="mb10">
    <mat-label [textContent]="'REGISTER.FORM.PASSWORD.NAME' | translate"></mat-label>
    <input matInput type="password" [formControlName]="controlNames.PASSWORD" (input)="onPasswordInput()" />
    <mat-error *ngIf="passwordCtrl?.invalid && (passwordCtrl?.dirty || passwordCtrl?.touched)">
      <div *ngIf="passwordCtrl?.hasError('required')" [innerHTML]="'REGISTER.ERRORS.PASSWORD_REQUIRED' | translate"></div>
    </mat-error>
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>

  <!-- PASSWORD CONFIRMATION FORM FIELD -->
  <mat-form-field appearance="outline" class="mb10">
    <mat-label [textContent]="'REGISTER.FORM.PASSWORD_CONFIRMATION.NAME' | translate"></mat-label>
    <input matInput type="password" [formControlName]="controlNames.PASSWORD_CONFIRMATION" (input)="onPasswordInput()" />
    <mat-error *ngIf="passwordConfirmCtrl?.invalid && (passwordConfirmCtrl?.dirty || passwordConfirmCtrl?.touched)">
      <div
        *ngIf="passwordConfirmCtrl?.hasError('required')"
        [innerHTML]="'REGISTER.ERRORS.PASSWORD_CONFIRMATION_REQUIRED' | translate"
      ></div>
      <div *ngIf="form?.hasError('passwordMismatch')" [innerHTML]="'REGISTER.ERRORS.PASSWORD_MISMATCH' | translate"></div>
    </mat-error>
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>

  <!-- FORM SUBMIT -->
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="isLoading"
    [textContent]="'REGISTER.FORM.SUBMIT' | translate"
  ></button>

  <!-- FORM ERRORS -->
  <p *ngIf="errorMessage" class="text-danger text-center mt30">{{ errorMessage | translate }}</p>
</form>

<mat-radio-group [(ngModel)]="selectedLang" class="lang-selector" (change)="onChangeLang($event)">
  <mat-radio-button *ngFor="let lang of languages" [value]="lang" color="primary">
    <img class="flag mr20" src="assets/images/{{ lang }}.png" />
  </mat-radio-button>
</mat-radio-group>
