<form class="mb20">
  <mat-form-field appearance="outline">
    <mat-label [textContent]="'EMPLOYEES.DESPARTMENT_LIST.UNASSIGNED' | translate"></mat-label>
    <input type="text" placeholder="Employés non assignés" matInput [formControl]="myControl" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addExistingEmployee($event, auto)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option?.id">
        {{ option?.firstName }} {{ option?.lastName }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint
      [textContent]="'EMPLOYEES.DESPARTMENT_LIST.UNNASSIGNED_COUNT' | translate: { count: noDepartmentEmployees?.length || 0 }"
    ></mat-hint>
  </mat-form-field>
</form>

<div class="employees-list">
  <app-department-employee
    *ngFor="let employee of departmentEmployees"
    [employee]="employee"
    [department]="department"
    [departmentEmployees]="departmentEmployees"
    (departmentUpdated)="departmentUpdated.emit($event)"
    (updated)="updated.emit($event)"
  ></app-department-employee>
</div>
