.departments-list-container {
  padding: 20px;
  background: #f3f3f3;
  border-radius: 5px;
  margin-top: 20px;
}

.department-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  cursor: pointer;

  .department {
    padding: 10px;
    border-radius: 5px;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;

    .department-title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 5px;
      color: #607d8b;
    }

    .department-employees {
      font-size: small;
      font-style: italic;
      color: black;
    }
  }
}
