<div class="departments-list-container">
  <h2 class="d-flex flex-row align-items-center justify-content-between">
    {{ 'COMPANY.DEPARTMENTS.TITLE' | translate: { count: departments?.length || 0 } }}

    <button mat-raised-button color="accent" (click)="openModal()">
      <mat-icon matPrefix class="mr10">add</mat-icon>
      {{ 'COMPANY.DEPARTMENTS.ACTIONS.ADD_NEW' | translate }}
    </button>
  </h2>

  <div class="department-list">
    <mat-card class="department" *ngFor="let department of departments">
      <div class="department-info">
        <div class="department-title">{{ department?.name }}</div>
        <div class="department-employees">
          {{ 'COMPANY.DEPARTMENTS.EMPLOYEES_COUNT' | translate: { count: department?.employeesCount || 0 } }}
        </div>
        <div class="manager d-flex align-items-center" *ngIf="department?.manager">
          <mat-icon matPrefix color="accent" class="mr10">star</mat-icon>
          {{ department?.manager?.firstName }} {{ department?.manager?.lastName }}
        </div>
      </div>

      <div class="actions">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editDepartment(department?.id!)">
            <mat-icon>edit</mat-icon>
            {{ 'COMPANY.DEPARTMENTS.ACTIONS.EDIT' | translate }}
          </button>

          <button mat-menu-item (click)="removed.emit(department)">
            <mat-icon>delete</mat-icon>
            {{ 'COMPANY.DEPARTMENTS.ACTIONS.DELETE' | translate }}
          </button>
        </mat-menu>
      </div>
    </mat-card>
  </div>
</div>

<app-modal #modal [title]="'COMPANY.DEPARTMENTS.ACTIONS.ADD_NEW' | translate">
  <div part="body">
    <form *ngIf="form" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'COMPANY.DEPARTMENTS.FORM.NAME.LABEL' | translate"></mat-label>
        <input
          matInput
          required
          [placeholder]="'COMPANY.DEPARTMENTS.FORM.NAME.PLACEHOLDER' | translate"
          [formControlName]="formNames.NAME"
        />
      </mat-form-field>
    </form>
  </div>

  <div part="footer" class="w-100 d-flex justify-content-between">
    <button
      mat-flat-button
      type="button"
      [textContent]="'COMPANY.DEPARTMENTS.ACTIONS.CANCEL' | translate"
      (click)="modal.close('cancel')"
    ></button>

    <button
      mat-flat-button
      type="submit"
      color="primary"
      [textContent]="'COMPANY.DEPARTMENTS.ACTIONS.VALIDATE' | translate"
      (click)="submitForm()"
    ></button>
  </div>
</app-modal>
