$toolbar-height: 64px;

.main-content {
  padding: 20px;
  overflow: auto;
}

.mat-drawer {
  width: 300px;
}

.mat-toolbar {
  height: $toolbar-height;
  z-index: 10;
  box-shadow: 0 1px 8px 0px #aaaaaa;
}

.main-layout-container {
  border: none;
  height: 100%;
  width: 100%;
  margin: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  position: sticky;
  top: 0;
}

.app-title {
  line-height: normal;
}

.flag {
  height: 20px;
  width: 20px;
}

.lang-menu {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company-container {
  text-align: center;

  .company-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #607d8b;
    margin: 50px auto 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .company-initial {
      margin: 0;
      font-size: xxx-large;
      color: white;
    }
  }

  .company-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
  }
}

.menu-item {
  padding: 5px 10px;
  color: white;
  background: #607d8b;
  font-size: larger;
}

:host ::ng-deep {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
