<mat-drawer-container class="main-layout-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="mode" [opened]="opened">
    <div class="company-container">
      <div class="company-image">
        <h2 class="company-initial" [textContent]="initial"></h2>
      </div>
      <div class="company-name" [textContent]="company?.name"></div>

      <div class="menu-items d-flex flex-column pl20 pr20 mt30 gap20">
        <button mat-stroked-button *ngFor="let item of menuItems" class="menu-item" [routerLink]="[item.route]">
          <mat-icon [svgIcon]="item.icon" class="mr10"></mat-icon>
          {{ item.label | translate }}
        </button>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>

      <span
        class="app-title pointer"
        [textContent]="'APP.TITLE' | translate"
        [routerLink]="['/app']"
        [matTooltip]="'APP.BACK_TO_MAIN_FEED' | translate"
      ></span>

      <span class="toolbar-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'APP.CHANGE_LANG' | translate">
        <img *ngIf="company?.lang" class="flag" src="assets/images/{{ company?.lang }}.png" />
      </button>

      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item class="lang-menu" *ngFor="let lang of acceptedLangs" (click)="changeLang(lang)">
          <img class="flag mr20" src="assets/images/{{ lang }}.png" />
          {{ lang }}
        </button>
      </mat-menu>

      <button mat-icon-button [matTooltip]="'APP.LOGOUT' | translate" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
