<div class="container">
  <h1 class="d-flex justify-content-between">
    {{ 'EMPLOYEES.LIST.TITLE' | translate }}

    <button mat-raised-button color="primary" (click)="openModal()">
      <mat-icon>add</mat-icon>
      {{ 'EMPLOYEES.LIST.ADD_NEW' | translate }}
    </button>
  </h1>

  <div class="employees-list-container mt30">
    <app-employee-card
      *ngFor="let employee of employees"
      [employee]="employee"
      (removed)="removed.emit($event)"
    ></app-employee-card>
  </div>
</div>

<app-modal #modal [title]="'Ajouter un nouvel employé' | translate" [form]="form">
  <div part="body">
    <form *ngIf="form" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.FIRSTNAME' | translate"></mat-label>
            <input
              matInput
              required
              [placeholder]="'EMPLOYEES.FORM.FIRSTNAME' | translate"
              [formControlName]="formNames.FIRSTNAME"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.LASTNAME' | translate"></mat-label>
            <input
              matInput
              required
              [placeholder]="'EMPLOYEES.FORM.LASTNAME' | translate"
              [formControlName]="formNames.LASTNAME"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.EMAIL' | translate"></mat-label>
            <input
              type="email"
              matInput
              required
              [placeholder]="'EMPLOYEES.FORM.EMAIL' | translate"
              [formControlName]="formNames.EMAIL"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.TITLE' | translate"></mat-label>
            <input matInput required [placeholder]="'EMPLOYEES.FORM.TITLE' | translate" [formControlName]="formNames.TITLE" />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.SALARY' | translate"></mat-label>
            <input
              type="number"
              matInput
              [placeholder]="'EMPLOYEES.FORM.SALARY' | translate"
              [formControlName]="formNames.SALARY"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.ADDRESS' | translate"></mat-label>
            <input matInput [placeholder]="'EMPLOYEES.FORM.ADDRESS' | translate" [formControlName]="formNames.ADDRESS" />
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'EMPLOYEES.FORM.CITY' | translate"></mat-label>
            <input matInput [placeholder]="'EMPLOYEES.FORM.CITY' | translate" [formControlName]="formNames.CITY" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div part="footer" class="w-100 d-flex justify-content-between">
    <button
      mat-flat-button
      type="button"
      [textContent]="'EMPLOYEES.FORM.ACTIONS.CANCEL' | translate"
      (click)="modal.close('cancel')"
    ></button>

    <button
      mat-flat-button
      type="submit"
      color="primary"
      [textContent]="'EMPLOYEES.FORM.ACTIONS.VALIDATE' | translate"
      (click)="submitForm()"
    ></button>
  </div>
</app-modal>
