.employee {
  padding: 20px;
  background-color: #607d8b;
  border-radius: 5px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .employee-info {
    .employee-name {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }
  }
}
