<div class="employee" *ngIf="employee">
  <div class="employee-info">
    <h3 class="employee-name">{{ employee.firstName }} {{ employee.lastName }}</h3>
    <div class="employee-title">{{ employee.title }}</div>
  </div>

  <div class="actions">
    <button
      *ngIf="hasManager && isManager"
      mat-icon-button
      color="accent"
      [matTooltip]="'EMPLOYEES.TOOLTIP.REMOVE_MANAGER' | translate"
      (click)="removeManager()"
    >
      <mat-icon>star</mat-icon>
    </button>

    <button
      *ngIf="!hasManager"
      mat-icon-button
      [matTooltip]="'EMPLOYEES.TOOLTIP.SET_MANAGER' | translate"
      (click)="setAsManager(employee)"
    >
      <mat-icon>star</mat-icon>
    </button>

    <button mat-icon-button (click)="editEmployee(employee)" [matTooltip]="'EMPLOYEES.TOOLTIP.EDIT' | translate">
      <mat-icon>edit_note</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="removeEmployee(employee)"
      [matTooltip]="'EMPLOYEES.TOOLTIP.REMOVE_FROM_DEPARTMENT' | translate"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
