/* You can add global styles to this file, and also import other style files */

@import './scss/custom.scss';
@import './scss/variables.scss';
@import './scss/scrollbar.scss';
@import './scss/mixins.scss';
@import './scss/toastr.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.mat-form-field-prefix {
  margin-right: 5px;
}
